@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }


.card-title{
  font-size: 28px;
  font-weight: 500;
  background: linear-gradient(90deg, #FF8A00 -0.07%, #8300b3 100.07%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
border-bottom: 2px solid transparent;
}

.set:hover{
  transform: rotate(90deg);
  transition: all 0.7s linear;
}